# 배추가격예측 프로그램 개발


링크: https://www.youtube.com/watch?v=9Ur7bbZtoTc&list=PLRx0vPvlEmdAbnmLH9yh03cw9UQU_o7PO&index=15

```
tensorflow 가 이전버젼이라서 잘 작동되지 않는다.
시간 남을때 tf 2.0 으로 upgrade 해보자.
```

In [40]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [41]:
data = pd.read_csv('./input/price data.csv')
data.head()

       year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0  20100101     -4.9    -11.0      0.9       0.0      2123
1  20100102     -3.1     -5.5      5.5       0.8      2123
2  20100103     -2.9     -6.9      1.4       0.0      2123
3  20100104     -1.8     -5.1      2.2       5.9      2020
4  20100105     -5.2     -8.7     -1.8       0.7      2060

In [42]:
x_data = data.drop(labels=['year','avgPrice'], axis=1)
y_data = data['avgPrice']

In [43]:
x_data.head()

   avgTemp  minTemp  maxTemp  rainFall
0     -4.9    -11.0      0.9       0.0
1     -3.1     -5.5      5.5       0.8
2     -2.9     -6.9      1.4       0.0
3     -1.8     -5.1      2.2       5.9
4     -5.2     -8.7     -1.8       0.7

In [44]:
y_data.head()

0    2123
1    2123
2    2123
3    2020
4    2060
Name: avgPrice, dtype: int64

In [ ]:
data.info()

In [ ]:
#X = tf.placeholder(tf.float32, shape=[None, 4])
#Y = tf.placeholder(tf.float32, shape=[None, 1])
#W = tf.Variable(tf.random_normal([4, 1]), name="weight")
#b = tf.Variable(tf.random_normal([1]), name="bias")

hypothesis = tf.matmul(X, W) + b